In [3]:
import pandas as pd

In [5]:
members = pd.DataFrame(data = {'Member': ['Shreya M.', 'Taha R.', 'Ali SF', 'Nili', 'Heydar M.', 'Leila M.',
                                          'Ukjae L.', 'Radia K.', 'Catie J.', 'Pegah T.', 'Martina W.', 'Yoon L.',
                                          'Victoria R.', 'Kamila M.', 'Ali V.', 'Valentina M.'], 
                               'Num': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]})

# lab duties df
duties = pd.DataFrame(data = {'duties': ['Lab JC', 'Break', 'Break', 'TC', 'Break', 'TC', 'Break', 'Break', 'Pipet Tips', 'Break', 'Pipet Tips', 'Break',
                                         'Mouse bodies + tools', 'Break', 'Break', 'Break']})

In [11]:
assignments = members.merge(duties, left_on = 'Num', right_index = True, how = 'inner')
assignments

          Member  Num                duties
0      Shreya M.    1                 Break
1        Taha R.    2                 Break
2         Ali SF    3                    TC
3           Nili    4                 Break
4      Heydar M.    5                    TC
5       Leila M.    6                 Break
6       Ukjae L.    7                 Break
7       Radia K.    8            Pipet Tips
8       Catie J.    9                 Break
9       Pegah T.   10            Pipet Tips
10    Martina W.   11                 Break
11       Yoon L.   12  Mouse bodies + tools
12   Victoria R.   13                 Break
13     Kamila M.   14                 Break
14        Ali V.   15                 Break
15  Valentina M.    0                Lab JC

In [21]:
round = 1
while round < 3:
    members['Num'] = (members['Num'] + 1) % len(members['Num'])
    print(f'Week {round}')
    assignments = members.merge(duties, left_on = 'Num', right_index = True, how = 'inner')
    assignments = assignments[['Member', 'duties']]
    print(assignments[assignments['duties']!='Break'])
    round+=1

Week 1
       Member                duties
0   Shreya M.            Pipet Tips
2      Ali SF            Pipet Tips
4   Heydar M.  Mouse bodies + tools
8    Catie J.                Lab JC
11    Yoon L.                    TC
13  Kamila M.                    TC
Week 2
          Member                duties
1        Taha R.            Pipet Tips
3           Nili  Mouse bodies + tools
7       Radia K.                Lab JC
10    Martina W.                    TC
12   Victoria R.                    TC
15  Valentina M.            Pipet Tips